.caja{
    background-color: rgb(255, 0, 221);
    border: 2px solid rgb(0, 0, 0);
    margin: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 24px;
    width: 200px;
    height: 100px;
}

.caja2{
    background-color: rgb(0, 199, 99);
    border: 2px solid rgb(0, 0, 0);
    margin: 10px; 
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 24px;
    display: inline;
}

.Caja3{
    background-color: rgb(33, 211, 255);
    border: 2px solid rgb(0, 0, 0);
    margin: 10px; 
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 24px;
    display: inline-block;
    width: 200px;
    height: 100px;
}

.contenedor{
    height: 300px;
    width: 800px;
    background-color: rgb(160, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja4{
    background-color: rgb(248, 244, 22);
    border: 2px solid rgb(0, 0, 0);
    margin: 10px; 
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 24px;
    height: 100px;
    width: 200px;
    display: inline-block;
}
.caja5{
    background-color: rgb(22, 120, 248);
    border: 2px solid rgb(0, 0, 0);
    margin: 10px; 
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 24px;
    height: 100px;
    width: 200px;
    display: inline-block;
}
.caja6{
    background-color: rgb(248, 22, 22);
    border: 2px solid rgb(0, 0, 0);
    margin: 10px; 
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 24px;
    height: 100px;
    width: 200px;
    display: inline-block;
}


